.main {
    text-align: center;
    margin: auto;
}

.main-section {
    font-size: 1.5rem;
}

.nav-box {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.nav-box a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #e28743;
    transition: 450ms;
}

.nav-box a:hover {
    color: brown;
}