<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
        <main class="main">
            <div class="main-section">
                <h1>Code Decoder</h1>
                <div class="nav-box">
                    <a href="/user/login">Entrar</a>
                    <a href="/user/signin">Registrarse</a>
                </div>
            </div>
        </main>
    </body>

    </html>